.radio-button-wrapper {
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-stack {
        width: 2em;
        cursor: pointer;
        border-radius: 50%;
    }

    .fa-stack:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        color: blue;
    }
}

.radio-button-group {
    display: flex;
}

.radio-button-clild:not(:last-child) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.radio-button-clild:first-child {
    margin-left: 0.5rem;
    margin-right: unset;
}

.radio-button-clild:last-child {
    margin-left: unset;
    margin-right: 0.5rem;
}