<div class="dropdown-popup animated " data-bind="css: { 'active fadeIn': isActive }">
    <div class="list-group">
        <a href="#" class="list-group-item">Item 1</a>
        <a href="#" class="list-group-item">Item 2</a>
        <a href="#" class="list-group-item">Item 3</a>
        <a href="#" class="list-group-item">Item 4</a>
        <a href="#" class="list-group-item">Item 5</a>
        <a href="#" class="list-group-item">Item 6</a>
        <a href="#" class="list-group-item">Item 7</a>
        <a href="#" class="list-group-item">Item 8</a>
        <a href="#" class="list-group-item">Item 9</a>
        <a href="#" class="list-group-item">Item 10</a>
        <a href="#" class="list-group-item">Item 11</a>
        <a href="#" class="list-group-item">Item 12</a>
        <a href="#" class="list-group-item">Item 13</a>
    </div>
</div>